body {
	font-family:'Courier new', Courier, monospace;
	text-align: center;
}

#board {
	background-color: skyblue;
	/* background-image : url("flappybirdbg.png"); background image was not working */
}